@charset "EUC-KR";

input[id*="answer"]
{
	display:none;
}
input[id*="answer"]+label
{
	display:block;
	padding:20px;
	border:1px solid #232188;
	border-bottom:5;
	color:efff;
	font-weight:30;
	background: #00D9A5;
	cursor:pointer;
	position:relative;
	fontcolor: #F5F9F6;
}

input[id*="answer"]+label em
{
	position:absolute;
	top:50%;
	right:100px;
	width:30px;
	height:30px;
	margin-top:-15px;
	display:inline-block;
	background:url("../assets/img/arrow02.png") 0 0 no-repeat;
}
input[id*="answer"]:checked + label + div
{
	max-height:0;
	transtion: all 0.7s;
	overflow:hidden;
	font-size:15px;
}

input[id*="answer"]:checked+label+div p 
{
	display:inline+block;
	padding:20px;
	max-height:100px;
}
input[id*="answer"]:checked+label em
{
	background-position:0 -30px;
}