body{
			margin:0; padding:0;
			background-color: #FFF;
			font-size:14px;
		}
		
		button.accordion {
			background-color:#FFF;
			cursor: pointer;
			width: 100%;
			border: none;
			font-size: 16px;
			transition: 0.5s;
			text-align: left;
			padding:10px;
			
		}
		
		button.accordion>p{
			float:left;
			margin-left:10px;
			width: 76%;
		}

		button.accordion.active{
			font-weight:bold;
			color : #000;
		}

		button.accordion:after{
          
			background-image: url("images/arrow_closed.png");
			background-size: 18px 18px;
			display: inline-block;
			width: 18px; 
			height: 18px;
			content:"";
			float: right;
			position:relative;
			top:18px;
		}

		button.accordion.active:after {
			background-image: url("images/arrow_opened.png");
			content:"";
		}

		div.panel {
			padding: 0 18px;
			background-color: #f7f7f7;
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.2s ease-out;
			border-top:1px solid #F0F0F0;
			color:#666666;
		}

